$font-family: sans-serif;
$color: #333;

// .flow {
//   display: grid;
//   justify-content: center;
//   gap: 6px;
//   align-content: start;
// }

.flowTitle {
  font-family: $font-family;
  font-size: 18px;
  font-weight: 700;
  color: $color;
}

.button {
  font-family: $font-family;
  padding: 8px;
  color: white;
  background-color: $color;
  border: 1px solid $color;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
}

.title {
  font-family: $font-family;
  font-size: 24px;
  font-weight: 700;
  color: $color;
}

.page {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 700;
  color: $color;
}

.flowList {
  list-style-position: inside;
  color: $color;
}

.flowColumns {
  display: grid;
  grid-auto-flow: row;
  @media (min-width: 740px) {
    grid-template-columns: auto 1fr;
  }
}
