:global {
  :root {
    --unit: 12px;

    --screen-width: 36;
    --screen-aspect: 0.75;

    --border-radius: 5px;
    --border-width: 1px;
    --border-color: rgb(213, 199, 199);

    --light-accent: whitesmoke;
    --medium-accent: var(--border-color);
    --dark-accent: rgb(189, 178, 178);
  }
}

.desktopWrapper {
  width: calc(var(--screen-width) * var(--unit));
  height: calc(var(--screen-aspect) * var(--screen-width) * var(--unit));
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  > aside {
    border-bottom: solid var(--border-width) var(--border-color);
    background-color: var(--light-accent);
  }

  > main {
    overflow: hidden;
  }
}

.box {
  padding: var(--unit);
  min-height: 100%;
}

.circle {
  width: var(--unit);
  height: var(--unit);
  border-radius: 50%;
  background-color: var(--background-color);
  display: block;
}

.horizontalGroup {
  display: grid;
  gap: calc(var(--unit) * var(--gap, 0));
  grid-auto-flow: column;
  justify-content: start;
}

.verticalGroup {
  display: grid;
  gap: calc(var(--gap) * var(--unit));
  align-content: start;
}

.button {
  font-family: inherit;
  font-size: inherit;
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  padding: 5px;
  cursor: pointer;
  background-color: var(--light-accent);

  &:hover,
  &[class*="active"] {
    background-color: var(--medium-accent);
    border-color: var(--medium-accent);
  }
}

.boxWithBorder {
  @extend .box;
  background-color: var(--light-accent);
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
}

.center {
  display: grid;
  place-content: center;
  height: 100%;
}

.type {
  font-size: calc(var(--size, 1) * var(--font-size));
}

.input {
  background-color: white;
  font-size: inherit;
  font-family: inherit;
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  padding: 5px;
  display: block;
}

.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;

  aside {
    background-color: var(--light-accent);
    border-right: solid var(--border-width) var(--dark-accent);
    .button {
      border: 0;
      border-radius: 0;
      padding: calc(var(--unit) / 2);
      border-bottom: solid 1px var(--dark-accent);
      text-align: center;
    }
  }

  main {
    overflow: auto;
    height: 100%;
  }
}

.table {
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  width: 100%;
  border-collapse: collapse;

  tr:not(:last-child) td {
    border-bottom: solid var(--border-width) var(--border-color);
  }

  td {
    padding: calc(var(--unit) / 2);
  }

  .button {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.betweenHorizontalGroup {
  @extend .horizontalGroup;
  justify-content: space-between;
  align-items: var(--align, end);
}

.select {
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  padding: 5px 0;
  font-size: inherit;
  font-family: inherit;
}

.textarea {
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
}
