* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --font-family: Georgia, Roboto, sans-serif;
  --font-size: 14px;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  padding: 20px;
  display: grid;
  gap: 60px;
  max-width: 1000px;
  margin: 0 auto;
}

.reorder {
  opacity: 0.25;
}

ul {
  list-style: inside;
}
