* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --font-family: sans-serif;
}

html {
  font-family: var(--font-family);
  font-size: 14px;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  padding: 20px;
}
